<%= title "New Notification" %>

<%= simple_form_for [:admin, @conference_edition, @notification], html: { class: 'form-horizontal' } do |form| %>

  <%= error_messages_for(@notification) %>

  <%= translatable_fields_for(form) do |t| %>
    <%= t.input :subject %>
    <%= t.input :body, as: :text, hint: 'Markdown enabled' %>
  <% end %>

  <%= form.input :recipients, as: :select, collection: Notification::RECIPIENTS, include_blank: false  %>

  <div class="form-actions">
    <%= form.submit "Send", class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
