<header class="admin-header">
  <%= title @notification.subject %>

  <%= link_to 'Preview', preview_admin_conference_edition_notification_path(@conference_edition, @notification), class: 'btn btn-primary main-cta' %>
</header>

<%= render(partial: 'admin/shared/locale_tabs', locals: { translations: @notification.translations, resource: @notification }) %>

<table class="table translated-table">
  <tr>
    <th>ID</th>
    <td><%= @notification.id %></td>
  </tr>
  <tr>
    <th>Recipients</th>
    <td><%= @notification.recipients %></td>
  </tr>
  <tr>
    <th>Sender</th>
    <td><%= @notification.organizer.name %></td>
  </tr>
  <tr>
    <th>Subject</th>
    <td><%= @notification.subject %></td>
  </tr>
  <tr>
    <th>Body</th>
    <td><%= markdown(@notification.body) %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= @notification.created_at.to_s(:short) %></td>
  </tr>
</table>
