<%# @param conference_edition [Array<Conf::Models::ConferenceEdition>] %>

<section id="schedule">
  <h2 class="primary-heading box box-tertiary"><%= t 'schedule'%></h2>

  <div class="schedule-wrapper">
    <div class="schedule-inner-wrapper">
      <% conference_edition.grouped_slots.sort.each do |day, slots| %>
        <section class="schedule box box-tertiary day-<%= day %>">
          <h3 class="secondary-heading"><%= day.strftime("%A") %></h3>
          <table>
            <% slots.each do |slot| %>
              <tr class="<%= slot.kind %> <%= !slot.is_talk_slot? ? 'special-slot' : ''  %>">
                <td class="time"><%= timespan(slot) %></td>
                <td class="description">
                  <% if slot.is_talk_slot? %>
                    <% talk = slot.talk %>
                    <%= link_to conference_edition_talk_path(conference_edition.slug, talk) do %>
                      <span class="title"><%= talk.title %></span>
                      <span class="speaker"><%= talk.speakers.first.name %></span>
                    <% end %>
                  <% elsif slot.is_custom_slot? %>
                    <%= markdown(slot.label) %>
                  <% else %>
                    <%= slot.kind.humanize %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </section>
      <% end %>
    </div>
  </div>
</section>
