<header class="admin-header">
  <%= title 'Subscribers' %>

  <% if can? :manage, @conference_edition %>
    <div class="btn-wrapper">
      <%= link_to 'Download subscribers in CSV format', admin_conference_edition_subscribers_path(@conference_edition, format: :csv), class: 'btn btn-default' %>
      <%= link_to 'Manage email subscriber settings', subscriber_settings_admin_conference_conference_edition_path(@conference_edition.conference, @conference_edition), class: 'btn btn-primary' %>
    </div>
  <% end %>
</header>

<% if @subscribers.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <% @subscribers.each do |subscriber| %>
        <tr>
          <td><%= subscriber.email %></td>
          <td><%= subscriber.created_at.to_s(:short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    It seems there are no subscribers for this conference edition yet.
  </p>
<% end %>
