<%= title 'Login or Register' %>

<% if @organizer_invitation %>
  <p class="alert alert-info">
    Please login or register to join the <%= @organizer_invitation.conference.name %>'s organizing team!
  </p>
<% end %>

<%= simple_form_for @user, url: sessions_path, html: { class: 'form-collapsed' } do |form| %>
  <%= error_messages_for(@user) %>

  <%= form.input_field :email, placeholder: 'Email', class: 'form-control', autofocus: true %>
  <%= form.input_field :password, placeholder: 'Password', class: 'form-control last' %>
  <%= form.submit 'Login or Register', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>

<p class="horizontal-divider">Or</p>

<section>
  <ul class="authentications-list">
    <li><%= link_to 'Enter with Twitter', '/auth/twitter', class: 'twitter btn btn-default' %></li>
    <li><%= link_to 'Enter with Github', '/auth/github', class: 'github btn btn-default' %></li>
  </ul>
</section>
