<%= title "Invite a new organizer" %>

<%= simple_form_for [:admin, @conference_edition, @organizer_invitation],
  url: admin_conference_edition_organizers_path(@conference_edition),
  html: { class: 'form-horizontal' } do |form| %>

  <%= error_messages_for(@organizer_invitation) %>

  <%= form.input :invitee_email %>

  <div class="form-actions">
    <%= form.submit "Invite", class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
