<%# @param conference_edition [Models::ConferenceEdition] %>
<%# @param action [String] %>

<%= simple_form_for [:admin, conference, conference_edition], html: { class: 'form-horizontal' } do |form| %>
  <%= error_messages_for(conference_edition) %>

  <fieldset>
    <legend>Marketing Info</legend>
    <%= form.input :kind, as: :select, collection: ConferenceEdition::KINDS, include_blank: false, label: 'Tracks' %>
    <%= form.input :logo %>
    <%= form.input :promo_video_provider, as: :select, collection: ConferenceEdition::VIDEO_PROVIDERS, include_blank: false %>
    <%= form.input :promo_video_uid %>
  </fieldset>

  <fieldset>
    <legend>Date</legend>
    <%= form.input :from_date %>
    <%= form.input :to_date %>
    <%= form.input :is_schedule_available, label: 'Is schedule available?', inline_label: 'Yes' %>
  </fieldset>

  <fieldset>
    <legend>Location</legend>
    <%= form.input :is_location_available, label: 'Is location available?', inline_label: 'Yes' %>
    <%= form.input :country %>
    <%= form.input :city %>
    <%= form.input :venue_address %>
    <div class="control-group coordinates">
      <label class="control-label" for="conference_edition_venue_latitude">Venue geographical coordinates</label>
      <div class="controls">
        <%= form.input_field :venue_latitude %>
        <%= form.input_field :venue_longitude %>
        <p class="help-block">Specify the venue's geographical coordinates (latitude and longitude) for maximum accuracy on the conference's homepage map. Example: '-34.892192,-56.19424'</p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Registration</legend>
    <%= form.input :is_registration_open, label: 'Is registration open?', inline_label: 'Yes' %>
    <%= form.input :registration_url %>
  </fieldset>

  <fieldset>
    <legend>Call for Sponsorships</legend>
    <%= form.input :is_call_for_sponsorships_open, label: 'Is call for sponsorships open?', inline_label: 'Yes' %>
    <%= form.input :sponsorship_packages_pdf %>
  </fieldset>

  <fieldset>
    <legend>Call for Proposals</legend>
    <%= form.input :is_call_for_proposals_open, label: 'Is call for proposals open?', inline_label: 'Yes' %>
  </fieldset>

  <fieldset>
    <legend>Subscribers</legend>
    <%= form.input :is_email_subscription_enabled, label: 'Collect subscriber emails?', inline_label: 'Yes' %>
  </fieldset>

  <fieldset>
    <legend>Copy* <span class="note">*markdown available on all fields</span></legend>
    <%= translatable_fields_for(form) do |t| %>
      <%= t.input :registration_call_to_action, as: :text, label: 'Register call to action', hint: 'Visible on the homepage.' %>
      <%= t.input :speakers_call_to_action, as: :text, label: 'Become a speaker call to action', hint: 'Visible on the homepage.' %>
      <%= t.input :sponsors_call_to_action, as: :text, label: 'Become a sponsor call to action', hint: 'Visible on the homepage.' %>
      <%= t.input :notes_to_subscribers, as: :text, label: 'Subscribe call to action', hint: 'Visible on the homepage.' %>
      <%= t.input :notes_to_speakers, as: :text, label: 'CFP instructions', hint: 'Visible on the proposal form page' %>
      <%= t.input :venue, label: 'Venue name', hint: 'Visible on the homepage.' %>
      <%= t.input :tagline, label: 'SEO description' %>
    <% end %>
  </fieldset>

  <div class="form-actions">
    <%= form.submit "#{action.titleize} Conference Edition", class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
