<header class="admin-header">
  <%= title 'Appearance' %>
</header>

<table class="table appearance">
  <tr>
    <th>Uploaded css file</th>
    <td>
      <% if @conference_edition.custom_css_file.present? %>
        <%= link_to @conference_edition.custom_css_file, @conference_edition.custom_css_file.url, target: :blank %>
      <% else %>
        <p class="alert alert-info">There's no custom css file uploaded for this edition yet.</p>
      <% end %>

      <% if can? :manage, @conference_edition %>
        <%= simple_form_for [:admin, @conference, @conference_edition],
          url: update_appearance_admin_conference_conference_edition_path,
          html: { class: 'form-horizontal' } do |form| %>

          <%= error_messages_for(@conference_edition) %>

          <%= form.input_field :custom_css_file %>
          <%= form.submit "Update", class: 'btn btn-default' %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Uploaded images</th>
    <td class="edition-custom-images">
      <%= render(partial: 'admin/images/list', locals: { images: @conference_edition.images }) %>

      <% if can? :manage, @conference_edition %>
        <% if available_image_uploads(@conference_edition) > 0 %>
          <p class="alert alert-info">You still have <%= available_image_uploads(@conference_edition) %> image uploads available for this conference edition</p>
          <%= link_to 'Upload an image', new_admin_conference_edition_image_path(@conference_edition), class: 'btn btn-default' %>
        <% else %>
          <p class="alert alert-danger">You don't have any available image uploads for this conference edition.</p>
        <% end %>
      <% end %>

    </td>
  </tr>
</table>
