<header class="admin-header">
  <%= title 'Appearance' %>
</header>

<table class="table appearance">
  <tr>
    <th>Custom styles and Cover</th>
    <td>
      <% if can? :manage, @conference_edition %>
        <%= simple_form_for [:admin, @conference, @conference_edition],
          url: update_appearance_admin_conference_conference_edition_path,
          html: { class: 'form-horizontal' } do |form| %>

          <%= error_messages_for(@conference_edition) %>

          <%= form.input :custom_css_file, hint: asset_hint(@conference_edition.custom_css_file) %>
          <%= form.input :cover, label: 'Cover image', hint: asset_hint(@conference_edition.cover) %>
          <%= form.input :cover_video_mp4, label: 'Cover video (mp4 format)', hint: asset_hint(@conference_edition.cover_video_mp4) %>
          <%= form.input :cover_video_webm, label: 'Cover video (webm format)', hint: asset_hint(@conference_edition.cover_video_webm) %>
          <%= form.input :favicon %>

          <%= form.submit 'Update', class: 'btn btn-default' %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Uploaded images</th>
    <td class="edition-custom-images">
      <%= render(partial: 'admin/images/list', locals: { images: @conference_edition.images }) %>

      <% if can? :manage, @conference_edition %>
        <% if available_image_uploads(@conference_edition) > 0 %>
          <p class="alert alert-info">You still have <%= available_image_uploads(@conference_edition) %> image uploads available for this conference edition</p>
          <%= link_to 'Upload an image', new_admin_conference_edition_image_path(@conference_edition.id), class: 'btn btn-default' %>
        <% else %>
          <p class="alert alert-danger">You don't have any available image uploads for this conference edition.</p>
        <% end %>
      <% end %>

    </td>
  </tr>
</table>
