<header class="admin-header">
  <%= title 'Manage your call for proposals' %>
</header>

<% if can? :manage, @conference_edition %>
  <%= simple_form_for [:admin, @conference, @conference_edition],
    url: update_call_for_proposals_admin_conference_conference_edition_path,
    html: { class: 'form-horizontal' } do |form| %>

    <%= error_messages_for(@conference_edition) %>

    <%= translatable_fields_for(form) do |t| %>
      <%= t.input :speakers_call_to_action, input_html: { rows: 15 }, label: 'Call to action for potential speakers', hint: "You might want to include some call to action copy to get potential candidates excited about submitting their talks. Markdown is supported in this field." %>

      <%= t.input :notes_to_speakers, input_html: { rows: 15 }, label: 'Proposal instructions', hint: "You might want to include details about the topics you'd like to see covered and the selection criteria. Markdown is supported in this field." %>
    <% end %>

    <%= form.input :is_call_for_proposals_open, label: 'Open call for proposals?', inline_label: 'Yes' %>
    <%= form.input :cfp_deadline, label: 'Call for proposals deadline' %>

    <div class="form-actions">
      <%= form.submit 'Update', class: 'btn btn-lg btn-primary' %>
    </div>
  <% end %>
<% end %>
