<header class="admin-header">
  <%= title pretty_conference_and_year(@conference_edition) %>
  <%= link_to 'Edit', edit_admin_conference_conference_edition_path(@conference, @conference_edition), class: 'btn btn-primary main-cta' %>
</header>

<table class="table">
  <tr>
    <th>Tracks</th>
    <td><%= @conference_edition.kind %></td>
  </tr>
  <tr>
    <th>Logo</th>
    <td><%= image_tag @conference_edition.logo %></td>
  </tr>
  <tr>
    <th>Tagline</th>
    <td><%= @conference_edition.tagline %></td>
  </tr>
  <tr>
    <th>Video</th>
    <td><%= video_embed_code(@conference_edition.promo_video_provider, @conference_edition.promo_video_uid) %></td>
  </tr>
  <tr>
    <th>From Date</th>
    <td><%= @conference_edition.from_date %></td>
  </tr>
  <tr>
    <th>To Date</th>
    <td><%= @conference_edition.to_date %></td>
  </tr>
  <tr>
    <th>Is schedule available?</th>
    <td><%= @conference_edition.is_schedule_available %></td>
  </tr>
  <tr>
    <th>Is location available?</th>
    <td><%= @conference_edition.is_location_available %></td>
  </tr>
  <tr>
    <th>Country</th>
    <td><%= @conference_edition.country %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= @conference_edition.city %></td>
  </tr>
  <tr>
    <th>Venue</th>
    <td><%= @conference_edition.venue %></td>
  </tr>
  <tr>
    <th>Is registration open?</th>
    <td><%= @conference_edition.is_registration_open %></td>
  </tr>
  <tr>
    <th>Is call for sponsorships open?</th>
    <td><%= @conference_edition.is_call_for_sponsorships_open %></td>
  </tr>
  <tr>
    <th>Sponsorship packages pdf</th>
    <td><%= link_to @conference_edition.sponsorship_packages_pdf %></td>
  </tr>
  <tr>
    <th>Is call for proposals open?</th>
    <td><%= @conference_edition.is_call_for_proposals_open %></td>
  </tr>
  <tr>
    <th>Notes to speakers</th>
    <td><%= markdown(@conference_edition.notes_to_speakers) %></td>
  </tr>
  <tr>
    <th>Collect subscriber emails?</th>
    <td><%= @conference_edition.is_email_subscription_enabled %></td>
  </tr>
  <tr>
    <th>Notes to subscribers</th>
    <td><%= markdown(@conference_edition.notes_to_subscribers) %></td>
  </tr>
</table>
