<header class="admin-header">
  <%= title pretty_conference_and_year(@conference_edition) %>
  <%= link_to 'Edit', edit_admin_conference_conference_edition_path(@conference, @conference_edition), class: 'btn btn-primary main-cta' %>
</header>

<table class="table">
  <tr>
    <th>ID</th>
    <td><%= @conference_edition.id %></td>
  </tr>
  <tr>
    <th>From date</th>
    <td><%= @conference_edition.from_date %></td>
  </tr>
  <tr>
    <th>To date</th>
    <td><%= @conference_edition.to_date %></td>
  </tr>
  <tr>
    <th>Tagline</th>
    <td><%= @conference_edition.tagline %></td>
  </tr>
  <tr>
    <th>Kind</th>
    <td><%= @conference_edition.kind %></td>
  </tr>
  <tr>
    <th>Country</th>
    <td><%= @conference_edition.country %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= @conference_edition.city %></td>
  </tr>
  <tr>
    <th>Venue</th>
    <td><%= @conference_edition.venue %></td>
  </tr>
  <tr>
    <th>Logo</th>
    <td><%= image_tag @conference_edition.logo %></td>
  </tr>
  <tr>
    <th>Promo Image</th>
    <td><%= image_tag @conference_edition.promo_image %></td>
  </tr>
  <tr>
    <th>Promo Video</th>
    <td><%= @conference_edition.promo_video_uid %></td>
  </tr>
  <tr>
    <th>Sponsorship Packages PDF</th>
    <td>
      <% if @conference_edition.sponsorship_packages_pdf.present? %>
      <%= link_to @conference_edition.sponsorship_packages_pdf.file.filename, @conference_edition.sponsorship_packages_pdf.url %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Registration url</th>
    <td><%= link_to @conference_edition.registration_url %></td>
  </tr>
  <tr>
    <th>Is registration open?</th>
    <td><%= @conference_edition.is_registration_open %></td>
  </tr>
  <tr>
    <th>Is call for proposals open?</th>
    <td><%= @conference_edition.is_call_for_proposals_open %></td>
  </tr>
  <tr>
    <th>Is call for call for sponsorships open?</th>
    <td><%= @conference_edition.is_call_for_sponsorships_open %></td>
  </tr>
  <tr>
    <th>Is location avaialable?</th>
    <td><%= @conference_edition.is_location_available %></td>
  </tr>
  <tr>
    <th>Is schedule avaialable?</th>
    <td><%= @conference_edition.is_schedule_available %></td>
  </tr>
</table>
