<header class="admin-header">
  <%= title 'Subscriber settings' %>
</header>

<% if can? :manage, @conference_edition %>
  <%= simple_form_for [:admin, @conference, @conference_edition],
    url: update_subscriber_settings_admin_conference_conference_edition_path,
    html: { class: 'form-horizontal' } do |form| %>

    <%= error_messages_for(@conference_edition) %>

    <%= translatable_fields_for(form) do |t| %>
      <%= form.input :is_email_subscription_enabled, label: 'Collect subscriber emails?', inline_label: 'Yes' %>

      <%= t.input :notes_to_subscribers, input_html: { rows: 15 }, hint: 'Markdown available.' %>
    <% end %>

    <div class="form-actions">
      <%= form.submit 'Update', class: 'btn btn-lg btn-primary' %>
    </div>
  <% end %>
<% end %>

