<h1 class="primary-heading">Submit your proposal</h1>

<%= simple_form_for [current_edition, @talk] do |form| %>
  <%= error_messages_for(@talk) %>
  <%= form.input :title %>
  <%= form.input :abstract %>

  <%= form.simple_fields_for :speakers do |speaker| %>
    <%= speaker.input :name %>
    <%= speaker.input :email %>
    <%= speaker.input :bio %>
    <%= speaker.input :twitter_username %>
    <%= speaker.input :github_username %>
    <%= speaker.input :avatar, required: !signed_in? %>
    <%= speaker.input :avatar_cache, as: :hidden %>
    <% if current_user %>
      <%= speaker.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
    <% end %>
  <% end %>

  <%= form.submit('Submit', class: 'btn btn-primary') %>
<% end %>
