<%= title @talk.title %>
<div class="markdown">
  <%= markdown(@talk.abstract) %>
</div>

<section class="speaker-details">
  <h1 class="secondary-heading">
    <%= avatar_for(@speaker, 'avatar', :square_230_230) %>
    <%= @speaker.name %>
  </h1>

  <% if @speaker.bio.present? %>
    <div class="speaker-description markdown">
      <%= markdown(@speaker.bio) %>
    </div>
  <% end %>

  <ul class="social-media unstyled">
    <% if @speaker.job_title.present? && @speaker.company.present? %>
      <li>
        <i class="fa fa-briefcase"></i>
        <%= @speaker.job_title %> at <%= @speaker.company %>
      </li>
    <% end %>
    <% if @speaker.city.present? && @speaker.country.present? %>
      <li>
        <i class="fa fa-map-marker"></i>
        <%= @speaker.city %>, <%= @speaker.country %>
      </li>
    <% end %>
    <% if @speaker.github_username.present? %>
      <li>
        <i class="fa fa-github"></i>
        <%= link_to "http://github.com/#{@speaker.github_username}", target: '_blank' do %>
          <%= @speaker.github_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.twitter_username.present? %>
      <li>
        <i class="fa fa-twitter"></i>
        <%= link_to "http://twitter.com/#{@speaker.twitter_username}", target: '_blank' do %>
          <%= @speaker.twitter_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.lanyrd_username.present? %>
      <li>
        <i class="fa fa-calendar-empty"></i>
        <%= link_to "http://lanyrd.com/#{@speaker.lanyrd_username}", target: '_blank' do %>
          <%= @speaker.lanyrd_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.website.present? %>
      <li>
        <i class="fa fa-link"></i>
        <%= link_to @speaker.website, target: '_blank' do %>
          <%= @speaker.website %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<%= render(partial: 'shared/disqus', locals: { current_conference: current_conference }) %>
