<% title @talk.title %>

<header>
  <h2 class="primary-heading"><%= @talk.title %></h2>
</header>

<div class="markdown">
  <%= markdown(@talk.abstract) %>
</div>

<section class="speaker-details">
  <div class="secondary-heading">
    <%= avatar_for(@speaker, 'avatar', :square_230_230) %>
    <h3><%= @speaker.name %></h3>
  </div>

  <% if @speaker.bio.present? %>
    <div class="speaker-description markdown">
      <%= markdown(@speaker.bio) %>
    </div>
  <% end %>

  <ul class="social-media unstyled">
    <% if @speaker.job_title.present? && @speaker.company.present? %>
      <li>
        <i class="icon-briefcase"></i>
        <%= @speaker.job_title %> at <%= @speaker.company %>
      </li>
    <% end %>
    <% if @speaker.city.present? && @speaker.country.present? %>
      <li>
        <i class="icon-map-marker"></i>
        <%= @speaker.city %>, <%= @speaker.country %>
      </li>
    <% end %>
    <% if @speaker.github_username.present? %>
      <li>
        <i class="icon-github"></i>
        <%= link_to "http://github.com/#{@speaker.github_username}", target: '_blank' do %>
          <%= @speaker.github_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.twitter_username.present? %>
      <li>
        <i class="icon-twitter"></i>
        <%= link_to "http://twitter.com/#{@speaker.twitter_username}", target: '_blank' do %>
          <%= @speaker.twitter_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.lanyrd_username.present? %>
      <li>
        <i class="icon-lanyrd"></i>
        <%= link_to "http://lanyrd.com/#{@speaker.lanyrd_username}", target: '_blank' do %>
          <%= @speaker.lanyrd_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.website.present? %>
      <li>
        <i class="icon-chain"></i>
        <%= link_to @speaker.website, target: '_blank' do %>
          <%= @speaker.website %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<%= render(partial: 'shared/disqus', locals: { current_conference: current_conference }) %>
