<% if current_edition.coming_soon? %>
  <section class="intro">
    <h1 class="primary-heading"><%= current_conference.name %></h1>
    <p><%= current_edition.tagline %></p>
    <p><%= pretty_date_and_location(current_edition) %></p>
  </section>

  <section id="call-for-proposals">
    <h1 class="primary-heading"><%= t('call_for_proposals') %></h1>
    <p><%= t('do_not_miss_out') %></p>
    <%= link_to t('submit_your_proposal'), new_conference_edition_talk_path(current_edition), class:'btn btn-primary' %>
  </section>

  <% if current_edition.promo_video_uid.present? %>
    <section id="previous-edition">
      <h1 class="primary-heading"><%= t('previous_edition') %></h1>
      <%= video_embed_code(current_edition.promo_video_provider, current_edition.promo_video_uid) %>
    </section>
  <% end %>

  <section id="sponsorship-packages">
    <h1 class="primary-heading"><%= t('sponsorship_packages') %></h1>
    <p><%= t('show_your_support_to') %> <%= current_conference.name %></p>
    <%= link_to t('download_sponsorship_packages'), current_edition.sponsorship_packages_pdf.url, class:'btn btn-primary', target: :blank %>
  </section>
<% end %>

<% if current_edition.live? %>
  <%= render(partial: 'slots/schedule', locals: { conference_edition: current_edition }) %>
<% end %>

<section id="news">
  <%= render(partial: 'posts/list', locals: { posts: @posts, conference_edition: current_edition }) %>
</section>

<% if current_edition.previous_editions.any? %>
  <section id="previous-editions">
    <h1 class="primary-heading"><%= t('previous_editions') %></h1>
    <%= render(partial: 'conference_editions/list', locals: { conference_editions: current_edition.previous_editions }) %>
  </section>
<% end %>
