<!-- When, where, register -->
<div class="intro-holder" <%= cover(current_edition) %>>
  <div class="intro">
    <h1 class="logo">
      <%= link_to root_url do %>
        <%= image_tag current_edition.logo_url, alt: current_conference.name %>
      <% end %>
    </h1>
    <p class="date"><%= pretty_date(current_edition) %></p>
    <p class="location"><%= pretty_city(current_edition) %></p>

    <% if display_registration_link?(current_edition) %>
      <%= link_to current_edition.registration_url, class: 'btn btn-primary' do %>
        <%= content_tag(:span, t('register')) %>
      <% end %>
    <% end %>
  </div>

  <!-- Cover Video -->
  <% if has_cover_video?(current_edition) %>
    <video autoplay loop muted poster="<%= current_edition.cover %>" class="cover-video">
      <% if current_edition.cover_video_webm.present? %>
        <source src="<%= current_edition.cover_video_webm %>" type="video/webm">
      <% end %>
      <% if current_edition.cover_video_mp4.present? %>
        <source src="<%= current_edition.cover_video_mp4 %>" type="video/mp4">
      <% end %>
    </video>
  <% end %>
</div>

<!-- Speakers -->
<% if current_edition.speakers.promoted.any? %>
  <section id="confirmed-speakers">
    <h2 class="box primary-heading"><%= t('speakers') %></h2>
    <%= render(partial: 'speakers/list', locals: { speakers: current_edition.speakers.promoted, display_speakers_meta_data: false }) %>
  </section>
<% end %>

<!-- Call for proposals -->
<% if current_edition.cfp_open? %>
  <section id="call-for-proposals" class="box box-primary">
    <h2 class="primary-heading"><%= t('call_for_proposals') %></h2>
    <%= markdown(current_edition.speakers_call_to_action) %>
    <%= link_to new_conference_edition_talk_path(current_edition), class:'btn btn-tertiary' do %>
      <%= content_tag(:span, t('submit_your_proposal')) %>
    <% end %>
  </section>
<% end %>

<!-- Schedule -->
<% if current_edition.is_schedule_available %>
  <%= render(partial: 'slots/schedule', locals: { conference_edition: current_edition }) %>
<% end %>

<!-- Venue -->
<% if current_edition.is_location_available %>
  <section id="location" class="box">
    <h2 class="primary-heading"><%= t('location') %></h2>
    <div class="location-details">
      <p><strong><%= current_edition.venue %></strong></p>
      <p><%= current_edition.venue_address %>, <%= current_edition.city %> - <%= current_edition.country %></p>
    </div>
    <div id="map-canvas"></div>
  </section>

  <% content_for :head_js do %>
    <%= javascript_tag do %>
      window.venue_address = '<%= full_venue_address(current_edition) %>';
      window.venue_latitude = <%= current_edition.venue_latitude || 'null' %>;
      window.venue_longitude = <%= current_edition.venue_longitude || 'null' %>;
    <% end %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false' %>
    <%= javascript_include_tag 'map' %>
  <% end %>
<% end %>

<!-- News -->
<% if current_edition.posts.any? %>
  <section id="news">
    <%= render(partial: 'posts/list', locals: { posts: @posts, conference_edition: current_edition }) %>
  </section>
<% end %>

<!-- Email subscription -->
<% if current_edition.is_email_subscription_enabled %>
  <section id="subscriptions">
    <h2 class="primary-heading"><%= t('stay_up_to_date') %></h2>
    <%= markdown(current_edition.notes_to_subscribers) %>
    <%= simple_form_for([current_edition, @subscriber], html: { class: 'subscription-form' }) do |form| %>
      <%= error_messages_for(@subscriber) %>
      <%= form.input_field :email, placeholder: 'john@doe.com' %>
      <button type="submit" class="btn btn-secondary">
        <span><%= t('go') %></span>
      </button>
    <% end %>
  </section>
<% end %>

<!-- Previous edition video -->
<% if display_promo_video?(current_edition) %>
  <section id="previous-edition" class="box">
    <h2 class="primary-heading"><%= t('previous_edition') %></h2>
    <%= video_embed_code(current_edition.promo_video_provider, current_edition.promo_video_uid) %>
  </section>
<% end %>

<!-- Sponsors and call for sponsors -->
<% if display_call_for_sponsorships?(current_edition) %>
  <section id="sponsors">
    <%= render(partial: 'sponsors/list', locals: { conference_edition: current_edition, display_descriptions: false }) %>
  </section>
<% end %>
