<% if current_edition.coming_soon? %>
  <section class="intro">
    <h1 class="primary-heading"><%= current_conference.name %></h1>
    <p><%= current_edition.tagline %></p>
    <p><%= when_and_where(current_edition) %></p>
  </section>

  <section id="call-for-proposals">
    <h1 class="primary-heading"><%= t('call_for_proposals') %></h1>
    <p><%= t('do_not_miss_out') %></p>
    <%= link_to t('submit_your_proposal'), new_conference_edition_talk_path(current_edition), class:'btn btn-primary' %>
  </section>

  <section id="previous-edition">
    <h1 class="primary-heading"><%= t('previous_edition') %></h1>
    <%= video_embed_code(current_edition.promo_video_provider, current_edition.promo_video_uid) %>
  </section>

  <section id="sponsorship-packages">
    <h1 class="primary-heading"></h1>
    <p><%= t('show_your_support_to') %> <%= current_conference.name %></h1>
    <%= link_to t('download_sponsorship_packages'), '#', class:'btn btn-primary' %>
  </section>
<% end %>

<% if current_edition.live? %>
  <%= render(partial: 'slots/schedule', locals: { conference_edition: current_edition }) %>
<% end %>

<section id="news">
  <%= render(partial: 'posts/list', locals: { posts: @posts, conference_edition: current_edition }) %>
</section>
