<header class="admin-header">
  <%= title t 'all_conferences' %>
  <%= link_to 'New conference', new_admin_conference_path, class: 'btn primary-btn main-cta' %>
</header>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Organizers</th>
      <th>Available Languages</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= conference.id %></td>
        <td><%= conference.name %></td>
        <td><%= link_to conference.owner.name, '#' %></td>
        <td><%= conference.organizers.map(&:name).to_sentence %></td>
        <td><%= conference.languages.map(&:name).to_sentence %></td>
        <td>
          <%= link_to 'View', admin_conference_path(conference) %>
          <%= link_to 'Edit', edit_admin_conference_path(conference) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
