<header class="admin-header">
  <%= title @conference.name %>
  <div class="btn-wrapper">
    <% if can? :manage, @conference %>
      <%= link_to 'Edit', edit_admin_conference_path(@conference), class: 'btn btn-default' %>
      <%= link_to 'Create a new conference edition', new_admin_conference_conference_edition_path(@conference), class: 'btn btn-primary' %>
    <% end %>
  </div>
</header>

<h2>Basics</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @conference.name %></td>
  </tr>
  <tr>
    <th>Languages</th>
    <td><%= @conference.languages.map(&:name).to_sentence %></td>
  </tr>
  <tr>
    <th>Confnu Subdomain</th>
    <td><%= @conference.subdomain %></td>
  </tr>
  <tr>
    <th>Custom Domain</th>
    <td><%= @conference.custom_domain %></td>
  </tr>
</table>

<h2>Social Media</h2>

<table class="table">
  <tr>
    <th>Email</th>
    <td><%= @conference.email %></td>
  </tr>
  <tr>
    <th>Twitter username</th>
    <td><%= @conference.twitter_username %></td>
  </tr>
  <tr>
    <th>Twitter Hashtag</th>
    <td><%= @conference.twitter_hashtag %></td>
  </tr>
  <tr>
    <th>Facebook page username</th>
    <td><%= @conference.facebook_page_username %></td>
  </tr>
  <tr>
    <th>Disquss Shortname</th>
    <td><%= @conference.disqus_shortname %></td>
  </tr>
  <tr>
    <th>Lanyard Series Name</th>
    <td><%= @conference.lanyrd_series_name %></td>
  </tr>
  <tr>
    <th>Youtube Channel</th>
    <td><%= @conference.youtube_channel_id %></td>
  </tr>
</table>

<h2>Owner and Editions</h2>

<table class="table">
  <tr>
    <th>Owner</th>
    <td><%= @conference.owner.name %></td>
  </tr>
  <tr>
    <th>Editions</th>
    <td>
      <ul class="unstyled">
        <% @conference.conference_editions.each do |ce| %>
          <li><%= link_to pretty_year(ce), admin_conference_conference_edition_path(@conference, ce) %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
