<p class="authentication">
  <% if current_user %>
    <%= image_tag current_user.image %><%= current_user.name %><%= link_to t('sign_out'), logout_path %>
  <% else %>
    <%= link_to t('sign_in_twitter'), '/auth/twitter', class: 'twitter first' %>
    <%= link_to t('sign_in_github'), '/auth/github', class: 'github' %>
  <% end %>
</p>
