<%# @param conference_edition [Models::ConferenceEdition] %>
<%# @param speaker [Models::Speaker] %>
<%# @param action [String] %>

<%= simple_form_for [:admin, conference_edition, speaker], html: { class: 'form-horizontal' } do |form| %>

  <%= error_messages_for(speaker) %>

  <%= form.hidden_field :conference_edition_id %>

  <%= translatable_fields_for(form) do |t| %>
    <%= t.input :bio, as: :text %>
  <% end %>

  <%= form.input :name %>
  <%= form.input :company %>
  <%= form.input :avatar %>
  <%= form.input :city %>
  <%= form.input :country %>
  <%= form.input :twitter_username %>
  <%= form.input :github_username %>
  <%= form.input :email %>

  <% if speaker.is_travelling? %>
    <h2>Accommodation Details</h2>
    <%= form.input :arrival_date, include_blank: true %>
    <%= form.input :accomodation_details, hint: "Flight number, local hotel address, local phone number." %>
  <% end %>

  <div class="form-actions">
    <%= form.submit "#{action.titleize} Speaker", class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
