<%# @param conference_edition [Array<Conf::Models::ConferenceEdition>] %>
<%# @param display_descriptions boolean %>

<header>
  <h2 class="primary-heading"><%= t 'sponsors' %></h2>
  <%= markdown(conference_edition.sponsors_call_to_action) %>
  <%= link_to current_edition.sponsorship_packages_pdf.url, class:'btn btn-tertiary', target: :blank do %>
    <%= content_tag(:span, t('become_a_sponsor')) %>
  <% end %>
</header>

<div class="sponsors-list">
  <div class="sponsors-list-top"></div>
  <div class="sponsors-list-content">
    <% conference_edition.grouped_sponsors.each do |sponsor_kind, sponsors| %>
      <section class="sponsor-kind <%= sponsor_kind %>-sponsor">
        <h3 class="secondary-heading"><%= sponsor_kind %></h3>
        <% for sponsor in sponsors %>
          <article class="sponsor block">
            <% if display_descriptions %>
              <%= link_to sponsor.website_url, target: 'blank' do %>
                <%= image_tag sponsor.logo_url(:inline_y_230), alt: sponsor.name %>
              <% end %>
              <div class="info">
                <h4 class="tertiary-heading">
                  <%= link_to sponsor.name, sponsor.website_url, target: 'blank' %>
                </h4>
                <p><%= sponsor.description %></p>
              </div>
            <% else %>
              <h4 class="tertiary-heading">
                <%= link_to sponsor.website_url, target: 'blank' do %>
                  <%= image_tag sponsor.logo_url(:inline_y_230), alt: sponsor.name %>
                <% end %>
              </h4>
            <% end %>
          </article>
        <% end %>
      </section>
    <% end %>
  </div>
  <div class="sponsors-list-bottom"></div>
</div>
