<%# @param conference_edition [Models::ConferenceEdition] %>
<%# @param sponsor [Models::Sponsor] %>
<%# @param action [String] %>

<%= simple_form_for [:admin, conference_edition, sponsor], html: { class: 'form-horizontal' } do |form| %>

  <%= error_messages_for(sponsor) %>

  <%= translatable_fields_for(form) do |t| %>
    <%= t.input :description %>
  <% end %>

  <%= form.input :kind, as: :select, collection: Sponsor::KINDS.keys, include_blank: false %>
  <%= form.input :name %>
  <%= form.input :website_url %>
  <%= form.input :logo %>

  <div class="form-actions">
    <%= form.submit "#{action.titleize} Sponsor", class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
