<header class="admin-header">
  <%= title 'Sponsors' %>
  <%= link_to 'New sponsor', new_admin_conference_edition_sponsor_path(@conference_edition), class: 'btn primary-btn main-cta' %>
</header>

<% if @sponsors.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Kind</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @sponsors.each do |sponsor| %>
        <tr>
          <td><%= sponsor.id %></td>
          <td><%= sponsor.name %></td>
          <td><%= sponsor.kind %></td>
          <td class="actions">
            <%= link_to admin_conference_edition_sponsor_path(@conference_edition, sponsor), title: 'View' do %><i class="icon-eye-open"></i><% end %>
            <%= link_to edit_admin_conference_edition_sponsor_path(@conference_edition, sponsor), title: 'Edit' do %><i class="icon-pencil"></i><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    It seems there are no sponsors for this conference edition. Would you like to
    <%= link_to 'create one', new_admin_conference_edition_sponsor_path(@conference_edition) %>?
  </p>
<% end %>
