<header class="admin-header">
  <%= title 'Sponsors' %>

  <% if can? :manage, @conference_edition %>
    <%= link_to 'New sponsor', new_admin_conference_edition_sponsor_path(@conference_edition), class: 'btn btn-default main-cta' %>
  <% end %>

</header>

<% if @sponsors.any? %>
  <table class="table table-with-avatars">
    <thead>
      <tr>
        <th>Logo</th>
        <th>Name</th>
        <th>Kind</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @sponsors.each do |sponsor| %>
        <tr>
          <td><%= image_tag(sponsor.logo_url(:inline_x_60)) %></td>
          <td><%= sponsor.name %></td>
          <td><%= sponsor.kind %></td>
          <td><%= sponsor.created_at.to_s(:short) %></td>
          <td class="actions">
            <%= link_to admin_conference_edition_sponsor_path(@conference_edition, sponsor), title: 'View' do %><i class="fa fa-eye-open"></i><% end %>

            <% if can? :manage, @conference_edition %>
              <%= link_to edit_admin_conference_edition_sponsor_path(@conference_edition, sponsor), title: 'Edit' do %><i class="fa fa-pencil"></i><% end %>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    It seems there are no sponsors for this conference edition yet.

    <% if can? :manage, @conference_edition %>
      Would you like to <%= link_to 'create one', new_admin_conference_edition_sponsor_path(@conference_edition) %> or <%= link_to 'open a call for sponsors', call_for_sponsors_admin_conference_conference_edition_path(@conference_edition.conference, @conference_edition) %>?
    <% end %>

  </p>
<% end %>
