<header class="admin-header">
  <%= title @sponsor.name %>

  <% if can? :manage, @conference_edition %>
    <%= link_to 'Edit', edit_admin_conference_edition_sponsor_path(@conference_edition.id, @sponsor), class: 'btn btn-primary main-cta' %>
  <% end %>
</header>

<%= render(partial: 'admin/shared/locale_tabs', locals: { translations: @sponsor.translations, resource: @sponsor }) %>

<table class="table">
  <tr>
    <th>ID</th>
    <td><%= @sponsor.id %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= @sponsor.name %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= @sponsor.description %></td>
  </tr>
  <tr>
    <th>Website</th>
    <td><%= @sponsor.website_url %></td>
  </tr>
  <tr>
    <th>Kind</th>
    <td><%= @sponsor.kind %></td>
  </tr>
  <tr>
    <th>Logo</th>
    <td><%= image_tag @sponsor.logo %></td>
  </tr>
  <tr>
    <th>Contacts</th>
    <td>
      <% if @sponsor_contacts.any? %>
        <ul class="unstyled sponsor-contacts">
          <% @sponsor_contacts.each do |contact| %>
            <li><%= "#{contact.name} <#{contact.email}>" %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="alert alert-info">No sponsor contacts at this time. Create one using the form below.</p>
      <% end %>

      <%= render(partial:'admin/sponsor_contacts/form', locals: { sponsor_contact: @sponsor_contact, conference_edition: @conference_edition, action: 'create' }) %>
    </td>
  </tr>
</table>
