<%# @param conference_edition [Models::ConferenceEdition] %>
<%# @param post [Models::Post] %>
<%# @param action [String] %>

<%= simple_form_for [:admin, conference_edition, post] do |form| %>
  <%= error_messages_for(post) %>

  <table class="translatable-form">
    <tr>
      <th>Title</th>
      <%= form.fields_for :translations do |t| %>
        <td><%= t.input_field :title %></td>
      <% end %>
    </tr>
    <tr>
      <th>Body</th>
      <%= form.fields_for :translations do |t| %>
        <td><%= t.input_field :body %></td>
      <% end %>
    </tr>
    <tr>
      <th>Summary</th>
      <%= form.fields_for :translations do |t| %>
        <td><%= t.input_field :summary %></td>
      <% end %>
    </tr>
    <tr>
      <th>Image</th>
      <td><%= form.input_field :image %></td>
    </tr>
  </table>

  <%= form.submit "#{action.titleize} Post", class: 'btn btn-primary' %>
<% end %>

<%# TODO: print translations codes in each cell's class %>
