<header class="admin-header">
  <%= title 'Posts' %>

  <% if can? :manage, @conference_edition %>
    <%= link_to 'New post', new_admin_conference_edition_post_path(@conference_edition), class: 'btn primary-btn main-cta' %>
  <% end %>

</header>

<% if @posts.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.created_at.to_s(:short) %></td>
          <td class="actions">
            <%= link_to admin_conference_edition_post_path(@conference_edition, post), title: 'View' do %><i class="icon-eye-open"></i><% end %>

            <% if can? :manage, @conference_edition %>
              <%= link_to edit_admin_conference_edition_post_path(@conference_edition, post), title: 'Edit' do %><i class="icon-pencil"></i><% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    It seems there are no posts for this conference edition.

    <% if can? :manage, @conference_edition %>
      Would you like to <%= link_to 'create one', new_admin_conference_edition_post_path(@conference_edition) %>?
    <% end %>
  </p>
<% end %>
