<header class="admin-header">
  <%= title @post.title %>

  <% if can? :manage, @conference_edition %>
    <%= link_to 'Edit', edit_admin_conference_edition_post_path(@conference_edition.id, @post), class: 'btn btn-primary main-cta' %>
  <% end %>
</header>

<%= render(partial: 'admin/shared/locale_tabs', locals: { translations: @post.translations, resource: @post }) %>

<table class="table translated-table">
  <tr>
    <th>ID</th>
    <td><%= @post.id %></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>Summary</th>
    <td><%= @post.summary %></td>
  </tr>
  <tr>
    <th>Body</th>
    <td><%= @post.body %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= @post.created_at %></td>
  </tr>
  <tr>
    <th>Image</th>
    <td><%= image_tag(@post.image) %></td>
  </tr>
</table>
