<header class="admin-header">
  <%= title 'Talks' %>
  <%= link_to 'New talk', new_admin_conference_edition_talk_path(@conference_edition), class: 'btn primary-btn main-cta' %>
</header>

<% if @talks.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @talks.each do |talk| %>
        <tr>
          <td><%= talk.id %></td>
          <td><%= talk.title %></td>
          <td class="actions">
            <%= link_to admin_conference_edition_talk_path(@conference_edition, talk), title:'View' do %>
              <i class="icon-eye-open"></i>
            <% end %>
            <%= link_to edit_admin_conference_edition_talk_path(@conference_edition, talk), title: 'Edit' do %>
              <i class="icon-pencil"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    It seems there are no talks for this conference edition. Would you like to
    <%= link_to 'create one', new_admin_conference_edition_talk_path(@conference_edition) %>?
  </p>
<% end %>
