<header class="admin-header">
  <%= title 'Talks' %>

  <% if can? :manage, @conference_edition %>
    <div class="btn-wrapper">
      <%= link_to 'Create a new talk', new_admin_conference_edition_talk_path(@conference_edition.id), class: 'btn btn-default' %>
      <%= link_to 'Manage your call for proposals', call_for_proposals_admin_conference_conference_edition_path(@conference_edition.conference, @conference_edition), class: 'btn btn-primary' %>
    </div>
  <% end %>
</header>

<% if @talks.any? %>
  <ul class="nav nav-tabs on-table">
    <% @statuses.each do |status| %>
      <li class="<%= status == @current_status ? 'active' : '' %>">
        <%= link_to("#{status.humanize} (#{record_count(@talks, status)})", admin_conference_edition_talks_path(@conference_edition.id, status: status)) %>
      </li>
    <% end %>
  </ul>

  <table class="table talks-ranking">
    <thead>
      <tr>
        <th>Title</th>
        <% if @conference_edition.is_talk_voting_open %>
          <th>My votes</th>
        <% else %>
          <% @conference_edition.voting_organizers.each do |o| %>
            <th><%= avatar_for(o, 'image') %></th>
          <% end %>
          <th>Total</th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @talks_in_current_status.each do |talk| %>
        <tr>
          <td>
            <%= talk.title %>
            <br>
            <span class="speaker"><%= talk.speakers.first.name %></span>
          </td>
          <% if @conference_edition.is_talk_voting_open %>
            <td><%= talk.talk_vote_for_user(current_user) %></td>
          <% else %>
            <% @conference_edition.voting_organizers.each do |o| %>
              <td><%= talk.talk_vote_for_user(o) %></td>
            <% end %>
            <td><%= talk.ranking %></td>
          <% end %>
          <td class="actions">
            <%= link_to admin_conference_edition_talk_path(@conference_edition.id, talk), title: 'View' do %><i class="fa fa-eye"></i><% end %>
            <% if can? :manage, @conference_edition %>
              <%= link_to edit_admin_conference_edition_talk_path(@conference_edition.id, talk), title: 'Edit' do %><i class="fa fa-pencil"></i><% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    It seems there are no talks for this conference edition yet.

    <% if can? :manage, @conference_edition %>
      Would you like to <%= link_to 'create one', new_admin_conference_edition_talk_path(@conference_edition.id) %> or <%= link_to 'open a call for proposals', call_for_proposals_admin_conference_conference_edition_path(@conference_edition.conference, @conference_edition) %>?
    <% end %>

  </p>
<% end %>
