<header class="admin-header">
  <%= title 'Talks' %>

  <% if can? :manage, @conference_edition %>
    <%= link_to 'New talk', new_admin_conference_edition_talk_path(@conference_edition), class: 'btn primary-btn main-cta' %>
  <% end %>

</header>

<% if @talks.any? %>
  <% @talks.each do |status, talks| %>
    <h2><%= status %></h2>
    <table class="table talks-ranking">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <% if @conference_edition.is_talk_voting_open %>
            <th>My votes</th>
          <% else %>
            <% @conference_edition.organizers.each do |o| %>
              <th><%= avatar_for(o, 'image') %></th>
            <% end %>
            <th>Total</th>
          <% end %>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for talk in talks %>
          <tr>
            <td><%= talk.id %></td>
            <td>
              <%= talk.title %>
              <br>
              <span class="speaker"><%= talk.speakers.first.name %></span>
            </td>
            <% if @conference_edition.is_talk_voting_open %>
              <td><%= talk.talk_vote_for_user(current_user) %></td>
            <% else %>
              <% @conference_edition.organizers.each do |o| %>
                <td><%= talk.talk_vote_for_user(o) %></td>
              <% end %>
              <td><%= talk.ranking %></td>
            <% end %>
            <td><%= talk.created_at.to_s(:short) %></td>
            <td class="actions">
              <%= link_to admin_conference_edition_talk_path(@conference_edition, talk), title: 'View' do %><i class="icon-eye-open"></i><% end %>
              <% if can? :manage, @conference_edition %>
                <%= link_to edit_admin_conference_edition_talk_path(@conference_edition, talk), title: 'Edit' do %><i class="icon-pencil"></i><% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p class="alert alert-info">
    It seems there are no talks for this conference edition.

    <% if can? :manage, @conference_edition %>
      Would you like to <%= link_to 'create one', new_admin_conference_edition_talk_path(@conference_edition) %>?
    <% end %>

  </p>
<% end %>
