<header class="admin-header">
  <%= title @talk.title %>

  <% if can? :manage, @conference_edition %>
    <%= link_to 'Edit', edit_admin_conference_edition_talk_path(@conference_edition, @talk), class: 'btn btn-primary main-cta' %>
  <% end %>

</header>

<%= render(partial: 'admin/shared/locale_tabs', locals: { translations: @talk.translations, resource: @talk }) %>

<table class="table translated-table">
  <tr>
    <th>ID</th>
    <td><%= @talk.id %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @talk.status %></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%= @talk.title %></td>
  </tr>
  <tr>
    <th>Abstract</th>
    <td><%= @talk.abstract %></td>
  </tr>
  <tr>
    <th>Slides URL</th>
    <td><%= @talk.slides_url %></td>
  </tr>
  <tr>
    <th>Video URL</th>
    <td><%= @talk.video_url %></td>
  </tr>
  <tr>
    <th>Slot ID</th>
    <td><%= @talk.slot_id %></td>
  </tr>
  <tr>
    <th>Room ID</th>
    <td><%= @talk.room_id %></td>
  </tr>
  <tr>
    <th>Speaker</th>
    <td></td>
  </tr>
</table>
