<header class="admin-header talk-header">
  <%= title @talk.title(:en) || @talk.title(:es) %>
  <h2>
    <%= avatar_for(@speaker, 'avatar') %> by <%= @speaker.name %>
    <span class="label label-<%= status_class(@talk) %>"><%= @talk.status %></span>
  </h2>

  <% if can? :manage, @conference_edition && !@conference_edition.is_talk_voting_open %>
    <%= link_to 'Edit', edit_admin_conference_edition_talk_path(@conference_edition, @talk), class: 'btn btn-primary main-cta' %>
  <% end %>
</header>

<%# if @talk.translations.count > 1 %>
  <%#= render(partial: 'admin/shared/locale_tabs', locals: { translations: @talk.translations, resource: @talk }) %>
<%# end %>

<%= markdown(@talk.abstract) %>

<h2>Language</h2>
<p><%= @talk.language_name %></p>

<h2>Notes to organizers</h2>
<%= markdown(@talk.notes_to_organizers) %>

<section class="speaker-details">
  <h2>About the speaker</h2>

  <ul class="social-media unstyled">
    <% if @speaker.job_title.present? && @speaker.company.present? %>
      <li>
        <i class="icon-briefcase"></i>
        <%= @speaker.job_title %> at <%= @speaker.company %>
      </li>
    <% end %>
    <% if @speaker.city.present? && @speaker.country.present? %>
      <li>
        <i class="icon-map-marker"></i>
        <%= @speaker.city %>, <%= @speaker.country %>
      </li>
    <% end %>
    <% if @speaker.github_username.present? %>
      <li>
        <i class="icon-github"></i>
        <%= link_to "http://github.com/#{@speaker.github_username}", target: '_blank' do %>
          <%= @speaker.github_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.twitter_username.present? %>
      <li>
        <i class="icon-twitter"></i>
        <%= link_to "http://twitter.com/#{@speaker.twitter_username}", target: '_blank' do %>
          <%= @speaker.twitter_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.lanyrd_username.present? %>
      <li>
        <i class="icon-calendar-empty"></i>
        <%= link_to "http://lanyrd.com/#{@speaker.lanyrd_username}", target: '_blank' do %>
          <%= @speaker.lanyrd_username %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.website.present? %>
      <li>
        <i class="icon-link"></i>
        <%= link_to @speaker.website, target: '_blank' do %>
          <%= @speaker.website %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.email.present? %>
      <li>
        <i class="icon-envelope"></i>
        <%= mail_to "#{@speaker.email}" do %>
          <%= @speaker.email %>
        <% end %>
      </li>
    <% end %>
    <% if @speaker.phone.present? %>
      <li>
        <i class="icon-phone"></i>
        <%= link_to "tel:#{@speaker.phone}" do %>
          <%= @speaker.phone %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<% if @conference_edition.is_talk_voting_open? || params[:update_vote] || !@talk.talk_vote_for_user(current_user) %>
  <h2>Your Vote</h2>
  <%= simple_form_for [:admin, @conference_edition, @talk_vote], url: vote_admin_conference_edition_talk_url(@conference_edition, @talk), method: @talk_vote.id ? 'PUT' : 'POST', html: { class: 'form-horizontal' } do |form| %>
    <%= error_messages_for(@talk_vote) %>

    <%= form.input :vote, input_html: { tabindex: 1, autofocus: @talk_vote.errors.any? }, hint: 'Valid values: -1, 0, 1' %>
    <%= form.input :comment, input_html: { tabindex: 2 }, hint: 'Optional', as: :text %>

    <div class="form-actions">
      <%= form.submit "Vote", class: 'btn btn-large btn-primary', tabindex: 3 %>
    </div>
  <% end %>
<% else %>
  <h2>Votes</h2>
  <% if @talk.talk_votes.stored.any? %>
    <table class="table talks-ranking">
      <thead>
        <tr>
          <th>Vote</th>
          <th>Comment</th>
          <th>Organizer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @talk.talk_votes.stored.each do |v| %>
          <tr>
            <td><%= v.vote %></td>
            <td><%= markdown(v.comment) %></td>
            <td><%= avatar_for(v.organizer, 'image') %></td>
            <td class="actions">
              <% if v.organizer == current_user %>
                <%= link_to(admin_conference_edition_talk_path(@conference_edition, @talk, update_vote: true)) do %>
                  <i class="icon-pencil"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><strong><%= @talk.ranking %></strong></td>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <p class="alert alert-info">No votes yet</p>
  <% end %>

  <section class="talk-actions">
    <h2>Actions</h2>

    <%= simple_form_for [:admin, @conference_edition, @talk], html: { class: 'form-horizontal' } do |form| %>
      <%= form.hidden_field :status, value: 'approved' %>
      <%= form.submit 'Approve', class: "btn btn-primary btn-large #{ @talk.status == 'approved' ? 'active' : '' }", tabindex: 1 %>
    <% end %>

    <%= simple_form_for [:admin, @conference_edition, @talk], html: { class: 'form-horizontal' } do |form| %>
      <%= form.hidden_field :status, value: 'rejected' %>
      <%= form.submit 'Reject', class: "btn btn-danger btn-large #{ @talk.status == 'rejected' ? 'active' : '' }", tabindex: 2 %>
    <% end %>
  </section>
<% end %>
