<header class="admin-header">
  <%= title 'Schedule' %>

  <% if can? :manage, @conference_edition %>
    <%= link_to 'New slot', new_admin_conference_edition_slot_path(@conference_edition), class: 'btn btn-default main-cta' %>
  <% end %>
</header>

<% if @slots.any? %>
  <ul class="nav nav-tabs on-table">
    <% @days.each do |day| %>
      <li class="<%= day.to_s == @current_day ? 'active' : '' %>">
        <%= link_to(day.to_s(:short), admin_conference_edition_slots_path(@conference_edition, day: day)) %>
      </li>
    <% end %>
  </ul>

  <table class="table table-with-avatars">
    <thead>
      <tr>
        <th>Time</th>
        <th>Activity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @current_day_slots.each do |slot| %>
        <tr>
          <td><%= timespan(slot) %></td>
          <td>
            <% if slot.is_talk_slot? %>
              <%= avatar_for(slot.talk.speakers.first, :avatar, :square_230_230) %><%= slot.talk %>
            <% else %>
              <%= slot.kind %>
            <% end %>
          </td>
          <td class="actions">
            <%= link_to admin_conference_edition_slot_path(@conference_edition, slot), title: 'View' do %><i class="fa fa-eye-open"></i><% end %>

            <% if can? :manage, @conference_edition %>
              <%= link_to edit_admin_conference_edition_slot_path(@conference_edition, slot), title: 'Edit' do %><i class="fa fa-pencil"></i><% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">
    It seems there are no slots for this conference edition yet.

    <% if can? :manage, @conference_edition %>
      Would you like to <%= link_to 'create one', new_admin_conference_edition_slot_path(@conference_edition) %>?
    <% end %>

  </p>
<% end %>
