<% if @subscriber.id %>
  <p class="alert-global alert alert-success"><%= t(:thanks) %>!</p>
<% else %>
  <%= simple_form_for([current_edition, @subscriber], html: { class: 'subscription-form', id: 'new-subscriber' }, remote: true) do |form| %>
    <% if @subscriber.errors.any? %>
      <p class="alert-global alert alert-error">
        <%= t(:invalid_email) %>
        <a class="close">×</a>
      </p>
    <% end %>

    <%= form.input_field :email, placeholder: 'your@email.com', autofocus: true %>
    <button type="submit" class="btn btn-secondary">
      <span><%= t('stay_in_touch') %></span>
    </button>
  <% end %>
<% end %>
