<%# @param conference_edition [Conf::Model::ConferenceEdition] %>
<%# @param posts [Conf::Model::Post] %>

<h1 class="primary-heading"><%= t 'news' %></h1>

<ul class="summarized-posts">
  <% posts.each do |post| %>
    <li class="post">
      <a href="<%= conference_edition_post_path(conference_edition, post) %>">
        <span class="date"><%= post.created_at.to_date %></span>
        <h1 class="title"><%= post.title %></h1>
        <p class="summary"><%= post.summary.truncate(100) %></p>
      </a>
    </li>
  <% end %>
</ul>
