<%= title(@post.title) %>

<% unless @post.image.blank? %>
  <%= image_tag @post.image, alt: @post.title, class: 'primary-img' %>
<% end %>

<div class="markdown"><%= markdown(@post.body) %></div>

<p class="created-at"><%= t 'posted' %> <%= time_ago_in_words(@post.created_at) %> ago</p>

<% if current_conference.disqus_shortname.present? %>
  <div id="disqus_thread"></div>

  <% content_for :javascript do %>
    <script type="text/javascript">
      var disqus_shortname = '<%= current_conference.disqus_shortname %>';

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>
      Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  <% end %>
<% end %>
