<h1 class="primary-heading">Speakers</h1>


<% @speakers.each do |speaker| %>
  <article class="speaker">
    <%= image_tag "https://api.twitter.com/1/users/profile_image?screen_name=#{speaker.twitter_username}&size=bigger", alt: speaker.name %>
    <h1 class="secondary-heading"><%= speaker.name %></h1>
    <p class="company">BenchPrep</p>
    <p class="from">Montevideo, Uruguay</p>
    <%= markdown(speaker.description) %>
    <ul>
      <li>Twitter: <%= link_to speaker.twitter_username, "http://twitter.com/#{speaker.twitter_username}", target: 'blank' %></li>
      <li>Github: <%= link_to speaker.github_username, "http://github.com/#{speaker.twitter_username}", target: 'blank' %></li>
    </ul>
  </article>
<% end %>
