<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %> - Confnu Admin </title>
  <meta name="description" content="Confnu Admin">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'admin', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= render partial: 'shared/analytics' %>
</head>

<body class="admin <%= current_user ? '' : 'authentication' %> <%= current_user && conferences.any? ? '' : 'no-sidebar' %>">
  <header class="navbar main-admin-header">
    <%= link_to 'Confnu ADMIN', admin_conferences_path, class: 'brand' %>
    <%= render(partial: 'shared/authentication') %>
  </header>

  <div class="container-fluid">
    <div class="row">
      <% if current_user %>
        <nav class="main-admin-sidebar col-xs-2">
          <ul class="unstyled">
            <% conferences.each do |conference| %>
              <li>
                <%= link_to conference.name, admin_conference_path(conference), class: 'conference-nav-item' %>

                <ul>
                  <% conference.conference_editions.each do |e| %>
                    <li>
                      <%= link_to pretty_year(e), admin_conference_conference_edition_path(conference, e), class: 'conference-edition-nav-item' %>
                      <ul>
                        <li><%= link_to 'Talks', admin_conference_edition_talks_path(e.id) %></li>
                        <li><%= link_to 'Schedule', admin_conference_edition_slots_path(e.id) %></li>
                        <li><%= link_to 'Speakers', admin_conference_edition_speakers_path(e.id) %></li>
                        <li><%= link_to 'Sponsors', admin_conference_edition_sponsors_path(e.id) %></li>
                        <li><%= link_to 'Registration', registration_settings_admin_conference_conference_edition_path(conference, e.id) %></li>
                        <li><%= link_to 'Posts', admin_conference_edition_posts_path(e.id) %></li>
                        <li><%= link_to 'Email notifications', admin_conference_edition_notifications_path(e.id) %></li>
                        <li><%= link_to 'Email subscribers', admin_conference_edition_subscribers_path(e.id) %></li>
                        <li><%= link_to 'Organizers', admin_conference_edition_organizers_path(e.id) %></li>
                        <li><%= link_to 'Appearance', appearance_admin_conference_conference_edition_path(conference, e.id) %></li>
                        <li><%= link_to 'Pages', admin_conference_edition_pages_path(e.id) %></li>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </nav>
      <% end %>

      <main class="main-admin-content-area <%= current_user ? 'col-xs-10' : 'col-xs-12' %>">
        <% flash.each do |name, msg| %>
          <p class="alert alert-<%= name %>"><%= msg %></p>
        <% end %>

        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>
  </div>

  <footer class="admin-footer">
  </footer>

  <div class="scripts">
    <%= javascript_include_tag 'admin' %>
  </div>
</body>
</html>
