<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= conference_metadata['name'] %></title>
  <meta name="description" content="<%= conference_metadata['description'] %>">
  <meta name="viewport" content="width=device-width">
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="main-header">
    <nav>
      <h1><%= link_to conference_metadata['name'], root_url %></h1>
      <ul>
        <% if current_edition.present? %>
          <li><%= nav_link_to 'Schedule', conference_edition_slots_path(current_edition) %></li>
          <li><%= nav_link_to 'Sponsors', conference_edition_sponsors_path(current_edition) %></li>
          <li><%= nav_link_to 'Speakers', conference_edition_speakers_path(current_edition) %></li>
          <li><%= nav_link_to 'News', conference_edition_posts_path(current_edition) %></li>
          <li><%= nav_link_to 'Previous Editions', conference_editions_path %></li>
          <li><%= nav_link_to 'Register', '#' %></li>
        <% elsif current_edition.future? %>
          <li><%= link_to 'Call for proposals', '#call-for-proposals' %></li>
          <li><%= link_to 'Previous Edition', '#previous-edition' %></li>
          <li><%= link_to 'Sponsorship Packages', '#sponsorship-packages' %></li>
          <li><%= link_to 'News', '#news' %></li>
        <% end %>
      </ul>
    </nav>

    <p class="authentication">
      <% if current_user %>
        Signed in as <%= current_user.nickname %>!
        <%= link_to 'Sign out', logout_path %>
      <% else %>
        <%= link_to 'Sign in with Twitter', '/auth/twitter' %>
        <%= link_to 'Sign in with Github', '/auth/github' %>
      <% end %>
    </p>
  </header>

  <main class="main-content">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </main>

  <footer class="main-footer">
    <section class="sponsors">
      <%= render(partial: 'sponsors/list', locals: { conference_edition: current_edition, display_descriptions: false }) %>
    </section>

    <section class="networks">
      <h1 class="primary-heading">Networks</h1>
      <ul>
        <li><%= link_to 'Follow us on twitter', "http://twitter.com/#{conference_metadata['twitter_username']}", target: 'blank' %></li>
        <li><%= link_to 'Friend us on facebook', "http://facebook.com/#{conference_metadata['facebook_username']}", target: 'blank' %></li>
        <li><%= link_to 'Drop us a line', "mailto:#{conference_metadata['email']}", target: 'blank' %></li>
      </ul>
    </section>
  </footer>

  <%= javascript_include_tag 'application' %>
</body>
</html>
