<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= conference_metadata['name'] %></title>
  <meta name="description" content="<%= conference_metadata['description'] %>">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav>
      <h1><%= conference_metadata['name'] %></h1>

      <ul>
        <% if current_edition.present? %>
          <li><%= link_to 'Location', '#' %></li>
          <li><%= link_to 'Schedule', '#' %></li>
          <li><%= link_to 'Sponsors', '#' %></li>
          <li><%= link_to 'Blog', '#' %></li>
          <li><%= link_to 'Previous Editions', '#' %></li>
        <% elsif current_edition.future? %>
          <li><%= link_to 'Location', '#location' %></li>
          <li><%= link_to 'Call for proposals', '#call-for-proposals' %></li>
          <li><%= link_to 'Previous Editions', '#previous-editions' %></li>
          <li><%= link_to 'Sponsors', '#sponsors' %></li>
          <li><%= link_to 'Blog', '#blog' %></li>
        <% end %>
      </ul>
    </nav>

    <p class="authentication">
      <% if current_user %>
        Signed in as <%= current_user.nickname %>!
        <%= link_to 'Sign out', logout_path %>
      <% else %>
        <%= link_to 'Sign in with Twitter', '/auth/twitter' %>
        <%= link_to 'Sign in with Github', '/auth/github' %>
      <% end %>
    </p>
  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>
