<% content_for :content do %>
  <h1 class="primary-heading"><%= @conference_edition.to_s %></h1>

  <ul class="tabs">
    <li><%= nav_link_to t('talks'), conference_edition_talks_path(@conference_edition) %></li>
    <li><%= nav_link_to t('schedule'), conference_edition_slots_path(@conference_edition) %></li>
    <li><%= nav_link_to t('sponsors'), conference_edition_sponsors_path(@conference_edition) %></li>
    <li><%= nav_link_to t('speakers'), conference_edition_speakers_path(@conference_edition) %></li>
    <li><%= nav_link_to t('news'), conference_edition_posts_path(@conference_edition) %></li>
  </ul>
  <%= yield %>
<% end %>

<%= render template: 'layouts/application' %>
